<td colspan="<%= colspan %>">
  <% if SmartManaging.config.style == :bootstrap3 %>
    <%= render 'form_bootstrap3', object: object %>
  <% else %>
    <%= render 'form_bootstrap2', object: object %>
  <% end %>
</td>
