<% attributes.each do |attr| %>
  <td>
    <%= object.send(attr) %>
  </td>
<% end %>
<td class="actions">
  <%= smart_listing_item_actions [
    {name: :edit, url: edit_polymorphic_path(object)},
    {name: :destroy, url: polymorphic_path(object), confirmation: 'Sure?'}] %>
</td>
